<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form>
      <p>Pig Latinize<input type="text" method="post" action="/"/></p>
      <input type="submit">
    </form>
  </body>
</html>