<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form>
      <p>Pig Latinize<input type="text" action="post" name="pig_latinizer"></p>
      
    </form>
  </body>
</html>